@import "../../../styles/globals.module";

.banner {
  border-radius: $border-radius-2;
  padding: $separation-62 $separation-32 100px;
  position: relative;

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    width: 60%;
    text-transform: capitalize;
    text-align: start;
    font-size: 50px;
  }

  &__subtitle {
    text-align: start;
    text-transform: uppercase;
    font-size: 30px;
    color: $primary-color;
    margin: $separation-24 0;
  }

  &__buttonRow {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    margin: $separation-32 0 0;
  }

  &__button {
    margin-right: $separation-24;
  }

  &__moreButton {
    display: flex;
    align-items: center;
    position: relative;

    & > span {
      font-size: 30px;
    }

    & > a {
      color: black;
      background-color: transparent;
      border: none;
      margin: 0;
      min-width: 0;
      padding: 10px 0 $separation-8;

      &:hover {
        border: none;
        color: black;
        background-color: transparent;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 6px;
      background-color: $primary-color;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &__background {
    border-radius: $border-radius-2;
    height: 450px;
    width: 450px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all ease-out 0.3s;
  }

  &__video {
    height: 300px;
    width: 500px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 1;
    border-radius: $border-radius-2;
    border: none;
    transition: all ease-out 0.3s;
  }
}

.circle {
  border-radius: 500px;
}

@media (max-width: 800px) {
  .banner {
    &__background {
      width: 400px;
      height: 400px;
    }

    &__video {
      top: 100px;
      height: 200px;
      width: 300px;
    }
  }
}

@media (max-width: $tablet-screen) {
  .banner {
    padding: 0 $separation-8;

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__background {
      width: 200px;
      height: 200px;
    }

    &__video {
      top: 0;
      height: 200px;
      width: 300px;
    }
  }
}

@media (max-width: $mobile-screen) {
  .banner {
    padding: 0 $separation-8;

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__background {
      width: 150px;
      height: 150px;
    }

    &__video {
      position: static;
      width: 100%;
      margin: $separation-24 0;
    }
  }
}
