@import "../../styles/globals.module";
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.logo {
  min-width: 200px;
  font-family: 'Ms Madi', cursive;
  user-select: none;

  @media (max-width: $mobile-screen) {
    font-size: 26px;
  }
}