@import "../../../styles/globals.module";

.hook {
  display: flex;
  flex-direction: column;
  &__content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  &__actionButton {
    margin: $separation-48 auto $separation-16;
    width: 30%;
  }
}

@media (max-width: $tablet-screen) {
  .hook {
    &__actionButton {
      width: 80%;
    }
  }
}

@media (max-width: $mobile-screen) {
  .hook {
    &__actionButton {
      width: 100%;
    }
  }
}
