@import "../../styles/globals.module";

.footer {
  border-radius: $border-radius-2;
  padding: 0 $separation-24;

  &__options {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    padding: 0;
  }

  &__options > li {
    text-transform: capitalize;
    padding: $separation-16;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 5px;
      left: 0;
      background-color: $primary-color;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

.divider {
  border-bottom: rgba(202, 0, 0, 0.51) 1px solid;
  width: 95%;
  margin: auto;
}

.legal {
  text-align: center;
  font-weight: lighter;
  font-size: 14px;

  & > a {
    text-decoration: underline;
    color: $primary-color;
    font-weight: bold;

  }
}
