@import "../../../styles/globals.module";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.67);
  z-index: 9;

  &__container {
    position: relative;
    background-color: #F7F9FA;
    margin: $separation-48 auto;
    border-radius: $border-radius-2;
    height: 800px;
    overflow: hidden;
    max-width: 800px;
  }

  &__frame {
    border: none;
  }

  &__close {
    position: absolute;
    cursor: pointer;
    top: $separation-16;
    right: $separation-24;

  }
}

.hide {
  display: none;
}

@media (max-width: $laptop-screen) {
  .modal {
    &__container {
      margin: $separation-32;
      padding-top: $separation-32;
      height: 100%;
    }
  }
}

@media (max-width: $tablet-screen) {
  .modal {
    &__container {
      margin: $separation-16;
      padding-top: $separation-32;
      height: 100%;
    }
  }
}

@media (max-width: $mobile-screen) {
  .modal {
    &__container {
      margin: $separation-16;
      padding: $separation-32 0 0;
      height: 95%;
    }
  }
}