@import "../../styles/globals.module";

.button {
  background-color: $primary-color;
  border: $primary-color 1px solid;
  border-radius: $border-radius-5;
  padding: $separation-8;
  color: white;
  transition: all ease-out 0.3s;
  text-align: center;
  min-width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  cursor: pointer;

  &:hover {
    border: $primary-color 1px solid;
    background-color: $base-color;
    color: $primary-color;
  }
}
